USE [master]
GO
/****** Object:  Database [ContactInfo]    Script Date: 2019-10-18 12:11:42 PM ******/
CREATE DATABASE [ContactInfo] ON  PRIMARY 
( NAME = N'ContactInfo', FILENAME = N'I:\MSSQL10_50.MSSQLSERVER02\MSSQL\DATA\ContactInfo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'ContactInfo_log', FILENAME = N'J:\MSSQL10_50.MSSQLSERVER02\MSSQL\Data\ContactInfo_log.ldf' , SIZE = 7168KB , MAXSIZE = 2048GB , FILEGROWTH = 5120KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactInfo]
GO
/****** Object:  Table [dbo].[ContactInformations]    Script Date: 2019-10-18 12:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[EmailId] [nvarchar](150) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
